.calendarContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
  }
  
  .MuiCalendarPicker-root {
    width: 600px;            /* Increase the width */
    height: 600px;           /* Increase the height */
  }
  